package {{group_id}};

import org.flooc.cox.app.logging.EnableAppLogging;
import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;
import org.springframework.scheduling.annotation.EnableAsync;


//@EnableLeafServer
//@EnableJpaAuditing
@EnableDiscoveryClient
@EnableAppLogging
@EnableAsync
@SpringBootApplication
public class {{start_id}} {

  public static void main(String[] args) {
    SpringApplication.run({{start_id}}.class, args);
  }

}